@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Asangha';
  src: url('/fonts/Asangha/Asangha-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'Asangha', sans-serif;
}

.font-semibold {
  font-family: 'Asangha', sans-serif;
  font-weight: 600;
}

.font-semibold.sm { font-size: 12px; }
.font-semibold.md { font-size: 16px; }
.font-semibold.lg { font-size: 20px; }
.font-semibold.xl { font-size: 24px; }

.font-bold {
  font-family: 'Asangha', sans-serif;
  font-weight: 700;
}

.font-bold.sm { font-size: 12px; }
.font-bold.md { font-size: 16px; }
.font-bold.lg { font-size: 20px; }
.font-bold.xl { font-size: 24px; }

.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
  margin: revert;
}

.ck-content > ol,
.ck-content > ul {
  list-style: revert;
  margin: revert;
  padding: revert;
}

.ck-content > table {
  border-collapse: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
  font-size: revert;
  font-weight: revert;
}
